html, body
{
    height:100%;
}

body
{
font-size:14px;
// line-height: 1.42px;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
position:relative;
font-family: 'ubuntulight';
color:$black; 
}

.wrapper
{
    position:relative;
    widows: 100%;
    min-width: 940+20px;
    min-height: 100%;
    overflow: hidden;
}

table
{
border-collapse:collapse;
border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
{
    margin-top:0;
    font-weight:normal;
}

p
{
padding:0;
margin:0;
}

ul, li
{
    list-style-type: none;
    margin:0;
    padding:0;
}
.section
{
min-height: 650px;
height:100vh;
}
.container
{
    margin: 0 auto;
    width:940px;
}

*
{
    box-sizing: border-box;
}