.ad
{
position: relative;
background: linear-gradient(to top, $yellow 0%, #eb8c38 50%, $yellow 100%);
    

}
.container__ad
{
    position:absolute;
    left:50%;
    top:50%;
    display:flex;
    transform: translate(-50%, -50%);
     
}
.ad__content
{
    display:flex;
    position: relative;
    @include phone {
        flex-direction:column;
        margin-top:rem(130);
      }
      @include tablet {
        flex-direction:column;
        margin-top:rem(110);
        align-items: center;
      }
}
.adcontent__column
{
    flex:1;
    @include phone {
       text-align: center;
      }
      @include tablet {
        text-align: center;
       }
}

.burger_cont
{   height: 320px;
    width:450px;

    @include phone {
        margin-bottom: rem(25);
        height: 250px;
        width:350px;
    }
    @include tablet {
        margin-bottom: rem(25);
        height: 320px;
        width:430px;
    }
}

.adburger__image
{
    display: block;
    height: 100%;
    width:100%;
    padding-right: rem(20);

    @include phone {
    margin-bottom: rem(40);
    height: 100%;
    width:100%;
}
@include tablet {
    margin-bottom: rem(40);
    height: 100%;
    width:100%;
}

}

.ad__title
{
    font-family: 'gagalinregular';
    font-size: rem(72);
    line-height: rem(64);
    color:white;
    margin-bottom: rem(46);
    @include phone {
        font-size:rem(50);
        margin-bottom: rem(30);
       }
}

.ad__desc
{
font-family: 'ubuntulight';
font-size:rem(14);
color:white;
margin-bottom: rem(30);
}

 .ad__prices{

    font-family:'gagalinregular';
    font-size:rem(72);
    color: $orange;
    margin-right: rem(10);
    @include phone {
        font-size:rem(50);
       }
}
.ad__prices2
{
    font-family:'gagalinregular';
    font-size:rem(30);
    color: $orange;
    margin-right: rem(30);
    @include phone {
        font-size:rem(24);
       }
}

.ad__img1
 {
position:absolute; 
width:rem(88);
height:rem(88);
top:0;
left:0;
z-index: 999;
@include phone {
    top:0;
    left:-100px;
   margin-top:-90px;
   }
   @include tablet {
    
    left: 120px;
    top: -115px;;
   }
}


.ad__img2
{
position:absolute;
width: rem(60);
height:rem(83);
bottom:0;
left:0;
z-index: 999;
@include phone {
    top:0;
    right:0;
    margin-top:-90px;
   }
   @include tablet {
    right: 120px;
    top: -115px;
   
   }

}


.owl-prev {
position:absolute;
top:50%;
right: 100%;
transform: translateY(-50%);
width: 18px;
height: 18px;
border-left: 3px solid #fff;
border-top: 3px solid #fff;
border-radius: 3px;
transform: rotate(-45deg);
@include phone {
    
    left: -5px;
    position: absolute;
   }

}

.owl-prev:hover, .owl-next:hover{
    background-color: rgba(0,0,0,0.8);
}

.owl-next 
{
    position:absolute;
    left:100%;
    top:50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
    border-radius: 3px;
    transform: rotate(135deg);
    @include phone {
    
        
        right: 5px;
       }
}
