

.features
{
    background: url('../img/bg/features_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
  
    /* border: 1px solid transparent; */
}
.features-list
{
    padding:0;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    align-items: center;

        @include phone {
            flex-direction: column; 
            width:auto;
        }
        @include tablet {
           
    
        }
}
.features__name
{
    font-family: 'gagalinregular';
    font-size:rem(72.06);
    text-transform: uppercase;
    margin: 0;
    margin-bottom:rem(50);
    text-align: center;
    @include phone {
        margin-bottom:rem(35);
        font-size:rem(50);
               }

}
.features__item
{
    flex:3;
    text-align: center;
    padding:rem(10);
    
        @include phone {
    display:flex;
    text-align: left;
    margin-bottom: 50px;
    padding:0;

    }

}
.features__image
{
    width:rem(100);
    margin-bottom: 30px;
    @include phone {
        margin-right: rem(24);
        }
   
}

.feature__subtext
{
    font-family: 'lifehackmedium';
    font-size:rem(24);
    color:#2f3234;
    margin-bottom: rem(20);
   

}
.feature__text
{
    font-family:'ubuntulight';
    font-size:rem(14);
    color:#2f3234;
    opacity: 0.8;
    line-height: rem(24);
  
 
}