.order__name
{
    font-size: rem(72);
    font-family: "Gagalin";
    color: $yellow;
    line-height: 0.889;
    text-align: center;
    @include phone {
        font-size: rem(50);
    }
}
      

.order
{
    background: url('../img/bg/order_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}


.form
{
    display:flex;
    color:white;
    @include phone {
        flex-direction:column;
    }
    @include tablet {
        flex-direction:column;
    }
}
.form__block
{
    display:block;
    flex:1;
    margin-right:20px;
    //     &:last-child
    // {
    //     margin-right: 0px;
    // }
}
.form__side
{
    flex:1;
}

.form__row
{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
 
}
.form__input-active {
    border-width: 2px;
    border-color:$yellow;
    border-style: solid;
    border-radius: 5px;
    background-color: #fff;
  }
.form__input
{
    padding: 10px 20px;
    background: #fff;
    border-width: 1px;
    width:100%;
    border-style: solid;
    border-radius: 5px;
    background-color: #fff;
}


.form__textarea
{
    width:100%;
    height: rem(100);
    padding: 10px 20px;
    background: #fff;
    border-width: 1px;
    resize: none;
}
.form__radio
{
    display:flex;
    margin-bottom:rem(25);
 
    @include phone {
        max-width:rem(295);
        margin:0 auto;
        margin-bottom: rem(30);
    }
    @include tablet {
        max-width:rem(295);
        margin:0 auto;
        margin-bottom: rem(30);
    }
}
.form__btn
{
    display:flex;
    margin-right: 20px;
}
.form__checkbox
{
    margin-bottom:20px;
    @include phone {
       text-align: center;
    }
}
.block__button{
    text-align: center;
}


fieldset{
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.success{
    color: green;
    }
.error{
    color: red;
}