.intro
{
    background: url('../img/bg/intro_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container__header
{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.header
{
    padding:10px 10px;
    box-sizing: border-box;

}
.logo
{
    
    margin-right: auto;
}


a
{
    text-decoration: none;
    display:block;
}

.container__welcome
{
    display:flex;
    align-items: center;
    @include phone {
      flex-direction:column;
    }
}
.content__column
{
    flex:1;
    @include phone {
        text-align: center;
        }
}

 .content__text
{
    width:rem(360);
} 



.burger__image
{
    display: block;
    height: 100%;
    width:100%;

    @include phone {
    margin-bottom: rem(50);
}
}
.content__text
{
    margin:0;
    align-items: center;
  
}
.content__text-line1
{
    font-family: gagalinregular;
    font-size: rem(72);
    color:#f9b43b;
        @include phone {
        display:block;
        font-size: rem(63);

    }
}
.content__text-line2
{
    font-family: lifehackmedium;
    font-size: 65px;
    color:#ffffff;
    @include phone {
    display:block;
    }
}




.intro__arrow
{
    display:flex;
    justify-content: center;
    margin-top: 90px;
    @include phone {
        margin-top: 67px;
        }


}

