.map
{
    background: url('../img/map/map.png');
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
}
.footer
{
    background: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display:flex;
    justify-content: space-between;
    
}
.footer__desc-adress
{
    font-family: 'ubuntulight';
    font-size: 14px;
    color:white
}
.footer__desc-number
{
    font-family: 'ubuntubold';
    font-size: 14px;
    color: $orange;
}
.icon
{
    display:inline-block;
    vertical-align: middle;
    margin-left: 10px;
    fill: white;
    width:25px;
    height:25px;
    &:hover
    {
        fill:blue;
    }
    &:first-child
    {
        margin-left:0px;
    }
}