.menu
{
    background: url('../img/bg/menu_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    display: flex;
    justify-content: flex-end;

}
.menu__name
{
    position:absolute;
    top:109px;
    left:96px;
    color:white;
    font-family: 'gagalinregular';
    font-size: 72px;
  
}


.menu__accordeon
{
display:flex; 
background-color: #4c4e50;
opacity:0.9;
z-index: 10;
}

.menu__accordeon-item
{
    display:flex;
    z-index: 20;
}
.menu__accordeon-wrap
{
    width: rem(80);
    height: 100%;
    position: relative;
    
}

.menu__accordeon-meat
{
    background-image: url('../img/bg/meat_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.menu__accordeon-veg
{
    background-image: url('../img/bg/veg_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.menu__accordeon-diet
{
    background-image: url('../img/bg/dieta_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.menu__accordeon-name
{
    font-family: 'gagalinregular';
    font-weight: 300;
    font-size: rem(40);
    line-height: rem(64.36);
    color:#ffff;
    margin: 0;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 178px;
    right: -125px;
    width: 345px;
    height: 52px;
    cursor: pointer;
    transition-duration: 0.4s;
        &:hover
    {
        color: $yellow;
        transition-duration: 0.4s
    }
}
.menu__accordeon-description
{
    font-family: 'ubuntulight';
    font-size: rem(14);
    line-height: rem(24);
    color:#ffff;
    width:0;
    overflow:hidden;  
    display:flex;
}
.menu__accordeon-item--active
{
    .menu__accordeon-description
    {
       width: rem(476);
       padding: rem(60) rem(46);
      
    }
}
