.menu
{
    background: url('../img/bg/menu_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    display:flex;
    justify-content: flex-end;

}
.menu__name
{
    position:absolute;
    top:109px;
    left:96px;
    color:white;
    font-family: 'gagalinregular';
    font-size: 72px;
}
.menu__container
{
position:absolute;
top:0;
right:0;
bottom:0;
width:80%;
display:flex;
align-items: center;

}

.menu__accordeon
{
display:flex; 

}

// .menu__accordeon-item--active
// {
//     .menu__accordeon-description
//     {
//        width: auto;
//     }
// }

.menu__accordeon-name
{
    color:white;
    font-family: 'gagalinregular';
    font-size: 40px;
    transform: rotate(-90deg);
    width: rem(80);
    height: 100%;
    position: relative;




}
.menu__accordeon-description
{
    width:0;
    display:flex;
    overflow:hidden;
}

.menu__accordeon-meat
{
    background-image: url('../img/bg/dieta_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}