.nav
{

@include phone {
    display:none;
}
@include tablet {
    display:none;
}
}

.nav-active
{
    display:flex;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:black;
    opacity:0.8;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.nav-list
{
    @include phone {
        display:flex;
        flex-direction: column;
    }
    
    @include tablet {
        display:flex;
        flex-direction: column;
    }
}
.nav__item
{
display: inline-flex;
@include phone {
    display:flex;
    flex-direction: column;
    align-items: center;
}
@include tablet {
    display:flex;
    flex-direction: column;
    align-items: center;
}
}
li:last-child:after
{
content:""; 
}


.nav__link
{
    font-family: 'ubuntumedium';
    font-size: rem(13);
    color:#ffffff;
    text-transform: uppercase;
    @include phone {
      margin-bottom:rem(20);
    }
    @include tablet {
        margin-bottom:rem(20);
      }
}
.nav__item::after
{  
font-size: rem(13);
color: #ffffff;
content: "●";
padding-right: rem(15);
padding-left: rem(15);
    @include phone {
    margin-bottom:rem(20);
}

@include tablet {
    margin-bottom:rem(20);
    
}
}

  
.button
{
background-color: #e45028;
border-radius:rem(3);
border-color: #e45028;
padding:rem(10) rem(15);
text-transform: uppercase;
font-family: 'ubuntumedium';
font-size: rem(13);
color:#ffffff;
display:inline-flex;
}

.hamburger
{
    display:none;
    position: relative;

    @include phone {
        display:inline-block;
        width: rem(24);
        margin-right: rem(15);
        margin-left: rem(15);
    }
    @include tablet {
        display:inline-block;
        width: rem(24);
        margin-right: rem(15);
        margin-left: rem(15);
    }
}

.hamburger-active
{
    @include phone {
        span:nth-child(2)
        {
            position:absolute;
            top:rem(18);
            opacity:0;
        }
        span:nth-child(1)
        {
        position: absolute;
        top:rem(18);
        transform: rotate(135deg);
        }

        span:nth-child(3)
        {
        position: absolute;
        top:rem(18);
        transform: rotate(-135deg);
        }
    }
    @include tablet {
        span:nth-child(2)
        {
            position: absolute;
            top:rem(0);
            opacity:0;
        }
        span:nth-child(1)
        {
        position: absolute;
        top:rem(18);
        transform: rotate(135deg);
        }
        span:nth-child(3)
        {
        position: absolute;
        top:rem(18);
        transform: rotate(-135deg);
        }
    }
}


.hamburger__item
{
    @include phone {
    width:100%;
    height:rem(3);
    border-radius:rem(2);
    background-color: white;
    display:inline-block;
    }

    @include tablet {
        width:100%;
        height:rem(3);
        border-radius:rem(2);
        background-color: white;
        display:inline-block;
    }
}