
.pagination_active
{
    border: 2px solid #fff;
    border-radius: 50%;
    width:15px;
    height:15px;
    box-sizing: border-box;
    position:absolute;
    margin-bottom: 10px;
   
 

}

.onepage-pagination li a:before
{
    width:6px;
    height:6px;
    border-radius:50%;
    background-color:#ffffff;
    content: "";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:block;
}

.onepage-pagination li a.active:before
{
    width: 15px;
    height: 15px;
    background: none;
    border: 1px solid white;
    margin-top: 0px;
    left: 10px;
}
.onepage-pagination
{
    top:90px;
    right:50px;
    position:fixed;
    display:block;
  
    @include phone {
        display:none;
    }
    @include tablet {
        display:none;
    }
}
.onepage-pagination li a
{
    display:block;
    width:15px;
    height:15px;
    position: relative;
    margin-bottom:14px;
}