.team
{
    background: url('../img/bg/team_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
}
.team__container
{
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    width:50%;
    background: rgba(#2f3234, .93);
    display:flex;
    align-items: center;
    justify-content: center;

        @include phone {
        width:100%;
        }
}
.team__content
{
    width:70%;
         @include phone {
        width:100%;
        text-align: center;
        }
}
.team__name
{
    font-family:'gagalinregular';
    font-size:72px;
    color:$yellow;
    text-transform: uppercase;
}


.team__active
{
    .team__accordeon-content
    {
    height: auto;
    transition: all 1s linear;

    @include phone {
       display:flex;
       flex-direction: column;
        }
    }


    .team__accordeon-name
    {
   color: $yellow;
   margin-bottom: rem(16);
   display: flex;
    
        &:before
        {
       transform: rotate(180deg);
        }
    }
}


.team__accordeon-content
{
height:0;
display:flex;
overflow:hidden;
@include phone {
    align-items: center;
     }

}


.team__accordeon-name
{
    margin-bottom:rem(37);
    font-family:'gagalinregular';
    font-size:14px;
    color:#ffffff;
    display: flex;
    line-height: 2.008;
    @include phone {
        align-items: center;
        justify-content: center;
         }

    &:before
    {
        content:"";
        display: block;
        width:0;
        height:0;
        border: 9px solid transparent;
        border-bottom-width:0;
        border-top-color: $yellow;
    }
}

.team__accordeon-photo
{
    width:100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-right:20px;
    margin-bottom:40px;
    @include phone {
        margin-bottom:17px;
        }
}


.team__accordeon-ava
{
width:100%;
height: 100%;


}
.team__accordeon-title
{
    font-family: 'ubuntubold';
    font-size:14px;
    color:#ffffff;
    margin-bottom:20px;

    @include phone {
        margin-bottom:20px;
        }
}
.team__accordeon-description
{
    font-family: 'ubuntulight';
    font-size:14px;
    line-height: 24px;
    color:#ffffff;
    max-width:rem(205);
    @include phone {
        margin-bottom:rem(30);
        max-width:rem(360);
        margin:0 auto;
        }
}
