
.header
{
    padding:10px 10px;
    margin: 0 auto;
    width:960px;
    display:flex;
    box-sizing: border-box;
    align-items: center;
}
.logo
{
    
    margin-right: auto;
}

.sidebarorder_flexbox
{
    display:flex;
    justify-content: space-around;
}

.сontainer__flex
{
width:940px;
margin:0 auto;
display:flex;
justify-content:space-between;
}

.first-page
{
    background: url('../../img/first-page_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    
}

.nav__item
{
display: inline-block;

}
/* .nav__link:last-child::after
{
content:""; 
} */

.nav__link
{
    font-family: 'ubuntumedium';
    font-size: 13px;
    color:#ffffff;
    text-transform: uppercase;
}
.nav__link::after
{  
font-size: 13px;
color: #ffffff;
content: "●";
padding-right: 15px;
padding-left: 15px;


}
.order
{
width:98px;
height: 35px;
background-color: #e45028;
border-radius:3px;
text-align: center;
padding:10px 15px;
box-sizing: border-box;
text-transform: uppercase;
}
.order__link
{
    font-family: 'ubuntumedium';
    font-size: 13px;
    color:#ffffff;
}
a
{
    text-decoration: none;
    display:block;
}

.content__text-line1
{
    font-family: gagalinregular;
    font-size: 72px;
    color:#f9b43b;
}
.content__text-line2
{
    font-family: lifehackmedium;
    font-size: 65px;
    color:#ffffff;
}
.content__first-page
{
width:880px;
margin: 0 auto;
display:flex;


}

.maincontent__text
{
    margin-top:120px;
    
}
.burger__image
{
    display: block;
    margin-right: 10px;
}
ul
{
    list-style-type: none;
}
.pagination
{
display:block;
}

.points_active
{
    border: 0.0625rem solid #fff;
    border-radius: 50%;
    width:15px;
    height:15px;
    box-sizing: border-box;
    position:absolute;
}

.points__item:before
{
   
    color:#ffffff;
    margin-bottom: 16px;
    content: "•";
    font-size: 20px;
   position:relative;
}
.points__list
{
    top:90px;
    right:140px;
    position:fixed;
}
