
.header__logo
{
    margin-top:13px;
}
.nav
{
    margin-top:40px;
}
.order
{
    margin-top:30px;
    
}
.sidebarorder_flexbox
{
    display:flex;
    justify-content: space-around;
}

.сontainer__flex
{
width:940px;
margin:0 auto;
display:flex;
justify-content:space-between;
}
.wrapper__first-page
{
    background: url('../../img/first-page_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    
}

.nav__item
{
display: inline-block;

}
/* .nav__link:last-child::after
{
content:""; 
} */

.nav__link
{
    font-family: 'ubuntumedium';
    font-size: 13px;
    color:#ffffff;
    text-transform: uppercase;
}
.nav__link::after
{  
font-size: 13px;
color: #ffffff;
content: "●";
padding-right: 15px;
padding-left: 15px;


}
.order
{
width:97px;
height: 35px;
background-color: #e45028;
border-radius:3px;
text-align: center;
padding:14px 17px;
box-sizing: border-box;
text-transform: uppercase;
}
.order__link
{
    font-family: 'ubuntumedium';
    font-size: 13px;
    color:#ffffff;
}
a
{
    text-decoration: none;
    display:block;
}

.maincontent__text-line1
{
    font-family: gagalinregular;
    font-size: 72px;
    color:#f9b43b;
}
.maincontent__text-line2
{
    font-family: lifehackmedium;
    font-size: 65px;
    color:#ffffff;
}
.maincontent
{
width:880px;
margin: 0 auto;
display:flex;
}
.maincontent__text-line1
{

}
.maincontent__text
{
    display:flex;
    align-content: space-around;
    flex-wrap:wrap;
    
}