.container__header
{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.header
{
    padding:10px 10px;
    box-sizing: border-box;

}
.logo
{
    
    margin-right: auto;
}


.intro
{
    background: url('../../img/bg/intro_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
    
}

.nav__item
{
display: inline-block;

}
/* .nav__link:last-child::after
{
content:""; 
} */

.nav__link
{
    font-family: 'ubuntumedium';
    font-size: 13px;
    color:#ffffff;
    text-transform: uppercase;
}
.nav__link::after
{  
font-size: 13px;
color: #ffffff;
content: "●";
padding-right: 15px;
padding-left: 15px;


}
.order
{
width:98px;
height: 35px;
background-color: #e45028;
border-radius:3px;
text-align: center;
padding:10px 15px;
box-sizing: border-box;
text-transform: uppercase;
}
.order__link
{
    font-family: 'ubuntumedium';
    font-size: 13px;
    color:#ffffff;
}
a
{
    text-decoration: none;
    display:block;
}
.welcome
{
    display:flex;
    align-items: center;
}
.container__welcome
{
    display:flex;
    align-items: center;
}
.content__column
{
    flex:1;
}

/* .content__text
{
    margin-top: 120px;
} */
.content__text
{
    margin:0;
    align-items: center;
}
.content__text-line1
{
    font-family: gagalinregular;
    font-size: 72px;
    color:#f9b43b;
}
.content__text-line2
{
    font-family: lifehackmedium;
    font-size: 65px;
    color:#ffffff;
}



.burger__image
{
    display: block;
}


.intro__arrow
{
    display:flex;
    justify-content: center;
    margin-top: 90px;

}

.pagination
{
display:block;
}

.points_active
{
    border: 0.0625rem solid #fff;
    border-radius: 50%;
    width:15px;
    height:15px;
    box-sizing: border-box;
    position:absolute;
}

.points__item:before
{
   
    color:#ffffff;
    margin-bottom: 16px;
    content: "•";
    font-size: 20px;
   position:relative;
}
.points__list
{
    top:90px;
    right:140px;
    position:fixed;
}
